-include ./.env.local
include ./envfile

TARGET?=$(DEFAULT_TARGET)
BUILDDIR?=$(DEFAULT_BUILDDIR)

CFLAGS=-O2 -g
CPPFLAGS=
LDFLAGS=
ASFLAGS=--warn -g

COMPONENTS=\
boot \
libc \
kernel

BUILDDIR:=$(shell realpath $(BUILDDIR))
SRCDIR:=$(PWD)/src
TOOLSDIR:=$(PWD)/tools

PROJECT_NAME=andromeda
PROJECT_INCLUDEDIR=$(SRCDIR)/sys/include

SYSROOT=$(BUILDDIR)/sysroot
INSTALL_PREFIX=/usr
INSTALL_EXEC_PREFIX=$(INSTALL_PREFIX)
INSTALL_INCLUDEDIR=$(INSTALL_PREFIX)/include
INSTALL_LIBDIR=$(INSTALL_PREFIX)/lib
INSTALL_BOOTDIR=$(INSTALL_PREFIX)/boot