BOOT_ARCH_CFLAGS=
BOOT_ARCH_CPPFLAGS=
BOOT_ARCH_ASFLAGS=
BOOT_ARCH_LDFLAGS=

STAGE1_SRCDIR=stage1
STAGE2_SRCDIR=stage2

FAT_ENTRY_SIZE=32
BOOT_SECTOR_SIZE=512
BOOT_SECTORS=2880
BOOT_HEADS=2
BOOT_TRACK_SECTORS=18
BOOT_READ_SECTORS=14
BOOT_ROOT_ENTRIES=$(shell echo \
'( $(BOOT_READ_SECTORS) * $(BOOT_SECTOR_SIZE) / $(FAT_ENTRY_SIZE) )' \
| bc)
BOOT_FAT=12
BOOT_RESERVED=1